
div {
  border: 1px solid aquamarine;
  background-color: azure;
  padding: 30px;
}

.myname {
  font-family: Lobster ;
  color:#ef5350;
}

.short-aboutme {
  font-family: 'Pacifico', cursive;
}

.skill-heading {
  
}

.skill {
  
}

.contact {
  
}

.twitter-handle {
  
}
